@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html,
body {
    font-family: 'Noto Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 30px 40px;
    color: white;
    text-align: center;
}

h1 {
    letter-spacing: 2px;
    margin-bottom: 15px;
}

input {
    width: 75%;
    margin-right: 0;
    padding: 10px;
    border: none;
    font-size: 14px;
}

.addBtn {
    width: 25%;
    padding: 10px;
    margin-left: 0;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.addBtn:hover {
    background-color: #bbb;
    color: #fff;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 10px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 14px;
    transition: 0.2s;


    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

ul li:nth-child(odd){
    background-color:#dfe4ea ;
}

ul li:hover{
    background: #ddd;
}

ul li.checked{
    background:#ced6e0;
    color: #fff;
    text-decoration:line-through;
}

ul li.checked:before{
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top:10px;
    left:16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;

}

.fas{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.fas:hover{
    background-color:tomato;
    color: #fff
}